<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>

	<center>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>REGISTRO</h1>
			</div>
			<div class="panel-body">
				<h4>Nombre de usuario: </h4>
				<input type="text" name="usuario" placeholder="nombre de usuario">
				<h4>Contraseña: </h4>
				<input type="pasword" name="pasword" placeholder="contraseña">
				<h4>Correo electrónico: </h4>
				<input type="mail" name="mail" placeholder="correo">
			</div>
				<div class="panel-footer">
					<button class="btn btn-primary">Registrarse</button>
				</div>
		</div>
	</div>
	</center>

	<script type="js/jquerty.js"></script>
	<script type="js/bootstrap.min.js"></script>
	
</body>